# Node
node_modules/
**/package-lock.json
npm-debug.log*
yarn.lock

# IDE
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.default.json

# Build & Temp
.tmp/
tmp/
dist/
coverage/
_START_PACKAGE
packages/**/.turbo
.turbo
*.tsbuildinfo
*.swp
*.0x

# Logs & Databases
*.log
*.journal
build-storybook.log
test-results.json
*.junit.xml
junit.xml
*.sqlite
*.backup

# Security & Credentials
.env
google-generated-credentials.json
gcp-oauth.keys.json
nodelinter.config.json

# n8n specific
n8n_data/


# Traefik
traefik/
traefik/logs/

# Documentation
CHANGELOG-*.md
*.mdx

mcp/.gdrive-server-credentials.json
